<!-- Angular testing -->


<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> <!-- angular CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script> <!--  underscore CDN -->
<body>

<div ng-app="myApp" ng-controller="myCtrl">



<br>

<button type="button" ng-click="testing6()">truey/falsy test</button>
<br>
<button type="button">{{testing4('passingValue2')}}</button>
<br>
<button type="button" ng-click="testing3()">updating existing record</button>
<br>
<button type="button" ng-click="testing2()">adding duplicate into array</button>


<br>
First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
Full Name: {{firstName + " " + lastName}}



</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";
    
    //this is some pysdo code for checkbox UI
    $scope.testing6 = function() {
    	var arr  = [];
    	if (arr) {
    		console.log("arr[0] true...empty array is true, not falsy..." + arr.length);
    	} else {
    		console.log("arr[0] false..." + arr.length);
    	}
    

	},
	
    //this is some pysdo code for checkbox UI
    $scope.test5 = function() {

		//saving into in the json object
   		data.model.selectedEquipment.includedOptional = [];

        var tmpEquipmentIncludedOptional = [];
        for (var key in data.model.equipmentIncludedOptional) {
        	if (data.model.equipmentIncludedOptional[key]) {
        		tmpEquipmentIncludedOptional.push(key);
        	}
        }
        data.model.selectedEquipment.equipmentIncludedOptional = tmpEquipmentIncludedOptional;
    
		//populdating into checkbox in UI    
        if(data.model.selectedEquipment.equipmentIncludedOptional){
            _.each(data.model.selectedEquipment.equipmentIncludedOptional, function (cc) {
                data.model.equipmentIncludedOptional[cc] = true;
              });
        }
    
    	//display selected values on the screen
  	  	var tmpDisplay = "";
        for (var key in equipmentIncludedOptional) {
        		if (equipmentIncludedOptional[key]) {
        			if (tmpDisplay) {
        				tmpDisplay += ", ";
        			}
        			tmpDisplay += equipmentIncludedOptional[key]; //.toUpperCase();
        		}
        }
        return tmpDisplay;
    
    
    
    
    
    },
    
    
    $scope.testing4 = function(str) {
    	console.log("test4..." + str);
    	return str;
    },
    
	//Updating existing record. Should update individual fields
	$scope.testing3 = function () {
		
			$scope.deviceChBoxValues = [];
			$scope.deviceChBoxValues.push({id : 1, value : true, value2 : "name1"});
			$scope.deviceChBoxValues.push({id : 2, value : true, value2 : "name2"});
			$scope.deviceChBoxValues.push({id : 3, value : true, value2 : "name3"});
		
			var newOne = {id : 3, value : false, value2 : "brandNewName"};
		
		
			_.each($scope.deviceChBoxValues, function(device){
				if (device.id ===newOne.id) {
					device.value =  newOne.value;
					device.value2 =  newOne.value2;
					
					//this one doesn't work.
					//device = newOne;  
					console.log("testing3..." + "found");
				}
			
            });
		
			for (var i =0; i < $scope.deviceChBoxValues.length; i++) {
				console.log($scope.deviceChBoxValues[i].id + '...' + $scope.deviceChBoxValues[i].value + '...' + $scope.deviceChBoxValues[i].value2);
			}
		
			/*
        	var test1 = _.where($scope.deviceChBoxValues, { id: newOne.id }) [0];
        	if (test1) {
				console.log("testing3..." + "found");
				//
        	} else {
				console.log("testing3..." + "not found");
        	}
        	*/
	}; //$scope.testing3 = function () {
	
	//Adding duplicate values into the array
	$scope.testing2 = function () {
		console.log("testing..." + $scope.lastName);
		
			$scope.deviceChBoxValues = [];
			$scope.deviceChBoxValues.push({id : 1, value : true});
			$scope.deviceChBoxValues.push({id : 2, value : true});
			$scope.deviceChBoxValues.push({id : 3, value : true});
		
			$scope.deviceChBoxValues.push({id : 1, value : false});
			$scope.deviceChBoxValues.push({id : 2, value : false});
			$scope.deviceChBoxValues.push({id : 3, value : false});
		
			for (var i =0; i < $scope.deviceChBoxValues.length; i++) {
				console.log($scope.deviceChBoxValues[i].id + '...' + $scope.deviceChBoxValues[i].value);
			}
		
		
	};
	
	$scope.testing1 = function () {
		console.log("testing..." + $scope.lastName);
	};


                
});
</script>


</body>
</html>
